/*
Theme Name: Avada Child
Description: Child theme for Avada theme for Psycharmor
Author: ThemeFusion
Author URI: https://theme-fusion.com
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/


/*
#fusion-gmap-container, #main, #sliders-container, #wrapper, .fusion-separator .icon-wrapper, body, html {
    background-color: #e3e9f0 !important;
} */


#main {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


#content {
  width: 100%;
}


#respond {
    padding: 20px;
}

body.has-sidebar #content {
  width: 100% !important;
}


.fusion-mobile-menu-icons{
  margin-top: 40px;
}

.admin-bar .fusion-header-has-flyout-menu .fusion-header{
      border-bottom-color: transparent;
}

/* .fusion-header-v2 {
    border-bottom-color: transparent !important;
} */

.fusion-page-title-row {
    overflow: hidden;
    margin: 0 auto;
    height: 100%;
    max-width: unset;
    margin-top: 0;
}

.fusion-page-title-captions{
      margin-top: 200px;
}

.fusion-menu-item-button .menu-text {
    background: transparent;
    border-color: #ffffff;
    border: solid 1.5px;
}


.sfwd-lessons-template-default.single.single-sfwd-lessons div#wrapper .fusion-page-title-bar.fusion-page-title-bar-none.fusion-page-title-bar-left {
    height: 280px;
}

.fusion-page-title-bar{
      height: 280px !important;
}
.widget_course_progress footer {
    height: auto !important;
}

.widget-area {
    clear: right !important;
}

.boxed .right-sidebar, .page-right-sidebar {
    display: inherit !important;
}


#course-video{
    z-index: 99999999;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .page-right-sidebar {
      display: block !important;
  }

  .single-sfwd-courses .course-header .image {
    max-width: 100% !important;
  }

}



h2.blog-shortcode-post-title.entry-title a{
  font-size: 20px;
  color: #fff !important;
}
.archive.post-type-archive-bp_doc.bp-docs.bp-docs-create #primary, #main, .archive.post-type-archive-bp_doc.bp-docs.bp-docs-create #secondary, .single-bp_doc.bp-docs #primary, .single-bp_doc.bp-docs #secondary, body .site, body #main-wrap {
    background-color: #e3e9f0 !important;
}


.is-mobile.single-item.groups .page-right-sidebar, #primary {
    background-color: #e3e9f0;
}


.archive.post-type-archive-bp_doc.bp-docs.bp-docs-create #secondary, .single-bp_doc.bp-docs #secondary, #secondary {
    background-color: #cdd7e2;
}


/* a.button{
    background-color: #4167b1 !important;
} */


body.sfwd-courses-template-default.single.single-sfwd-courses #main .fusion-row{
    max-width: fit-content;
}


.single-sfwd-courses .course-header .content > span {
    color: #fff;
}



.course-header {
  background: url('wp-content/uploads/2018/12/footer-bg.png') !important;
}

section.course-header h1 {
    color: white;
}

.widget-area .widget.widget_course_progress .course-lessons-widgets > header{
    background-color: #4167b1;
}

#secondary.widget-area .widget_course_progress {
    padding: 0 !important;
}


.table-cell.progress {
    background-color: inherit !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    font-size: inherit!important;
    line-height: inherit !important;
    color: #fff !important;
    text-align: inherit !important;
    box-shadow:  none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


i.fa.fa-close {
    background: #e1e3e6;
    color: red;
    font-size: 40px;
}

a#hide-video {
    margin-right: 150px;
}


#learndash_lessons, #learndash_quizzes, #learndash_profile, #learndash_lesson_topics_list > div {
    background-color: transparent !important;
    border: none !important;
    border-radius: none !important;
    box-shadow: none !important;
    /* margin-bottom: auto !important; */
    clear: both !important;
}

#learndash_lessons #lesson_heading, #learndash_profile .learndash_profile_heading, #learndash_quizzes #quiz_heading, #learndash_lesson_topics_list div > strong {
    margin: 0;
    display: block;

    font-size: 19px;
    margin-bottom: 0;
    background-color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 25px;
    line-height: 20px;
    font-weight: 600;
    position: relative;
}


#learndash_lessons > div > div, #learndash_quizzes > div > div {
    border: none;
}

#lessons_list, #course_list, #quiz_list, .learndash_profile_quizzes, #learndash_lesson_topics_list ul, .learndash_navigation_lesson_topics_list {
    display: 0;
    width: 100%;
    margin-bottom: 0;
}

#lessons_list > div, #course_list > div, #quiz_list > div, .learndash_profile_quizzes > div, #learndash_lesson_topics_list ul > li, .learndash_navigation_lesson_topics_list > div {
    display: 0;
}

#lessons_list > div h4, #course_list > div h4, #quiz_list > div h4, #learndash_lesson_topics_list ul > li > span.topic_item {
    display: table-cell;
    width: inherit;
    border-top: 0;
    padding: 0;
}

#lessons_list > div h4 > a, #course_list > div h4 > a, #quiz_list > div h4 > a {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    display: unset;
    padding-right: 0;
}

.learndash .notcompleted, #learndash_profile .notcompleted {
    background: transparent;
    display: block;
    line-height: inherit;
    background-position: center;
    padding-left: 2%;
    padding-right: 2%;
}

.learndash .completed, #learndash_profile .completed {
  background: transparent;
  display: block;
  line-height: inherit;
  background-position: center;
  padding-left: 2%;
  padding-right: 2%;
}


#lessons_list > div > div, #course_list > div > div, #quiz_list > div > div, .single-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn, .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span.sn {
    display: table-cell;
    width: inherit;
    text-align: inherit;
    border-right: none;
    border-top: none;
}
#learndash_course_content .learndash_topic_dots ul > li:nth-of-type(odd) {
    background: #e8ecf2;
}

#learndash_course_content .learndash_topic_dots .nth-of-type-odd, .learndash_navigation_lesson_topics_list .nth-of-type-odd {
    background: #e8ecf2;
}

#learndash_course_content .learndash_topic_dots ul > li {
    background:  #e8ecf2;
}

.single-badgeos article .badgeos-item-points, .badgeos-achievements-list-item .badgeos-item-description .badgeos-item-points, .widget-area .widget_course_teacher header span p {
    color: #8091a1 !important;
}
.fa-sort-down:before {
    content: "\f0dd";
}



/* TOPICS */

#learndash_lesson_topics_list ul > li.nth-of-type-odd {
    background: #e9ecf2 !important;
}

section.course-lessons-widgets {
    margin-top: -20px !important;
}

.lesson-video {
    background-color: #e4e9f0 !important;
}

.list_lessons .learndash_topic_widget_list li {
    margin: 0 !important;
}

.single-sfwd-courses .course-video {
    text-align: center !important;
}



#learndash_lesson_topics_list ul > li > span.topic_item{
  width: max-content;
}



/* TOPIC */


.learndash .topic-completed span {
    background: none;
    display: inline-block;
    min-height: 0px;
    line-height: 0px;
    vertical-align: middle;
    padding-left: 0px;
}






.course-flexible-area header h2 {
    font-size: 24px !important;
}

.course-flexible-area h2 a {
    color: #fff !important;
}

.sensei-course-meta .course-author a{
  color: #fff !important;
}
a.preview-course {
    color: #fff;
}

.course-overlay i.fa.fa-play {
    padding: 0;
    background: transparent;
    color: #fff;
}

.sponsor.ld_course_grid_price.ribbon-enrolled {
  position: absolute;
  z-index: 99;
  top: 33%;
  background: black;
  left: 10%;
}


#learndash_profile .learndash_profile_heading.course_overview_heading {
    background-color: #cdd7e2;
}

.wpProQuiz_formFields input[type="radio"]:checked+strong, .courses-quizes-results .percent, .wpProQuiz_forms table td:nth-child(2) div, .quiz_title a, .learndash_profile_quizzes .failed .scores, #learndash_profile .list_arrow:before, .learndash_profile_heading .ld_profile_status, .profile_edit_profile a, #course_navigation .learndash_topic_widget_list .topic-notcompleted:before, .wpProQuiz_question_page, .learndash .in-progress:before, .learndash .notcompleted:before {
    color: #00a6dc;
}

.learndash .topic-notcompleted span {
    background: none !important;
    display: inline-block;
    min-height: unset;
    line-height: unset;
    padding-left: unset;
    vertical-align: unset;
}

.single-sfwd-lessons #learndash_lesson_topics_list ul > li > span a, .singular-sfwd-lessons #learndash_lesson_topics_list ul > li > span a
{
  display: inline-block;
}



/* Homepage */
.recent-posts-content {
    padding-top: 1px;
    background: #46535E;
    padding: 15px;
    text-align: left;
    color: #F2F5FA;
}

.recent-posts-content .entry-title a{
      color: #F2F5FA;
}


.col.content-wrapper-background.link-area-link-icon.icon-hover-animation-slide.fusion-animated{
  height: 257px;
  border: solid 1px;

}


a.fusion-button.button-flat.fusion-button-pill.button-large.button-custom.button-2.button-underline {
    text-decoration: underline !important;
    color: #000;
}
/* .fusion-section-separator svg {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,4);
    padding-left: 45% !important;
    margin-top: -300px;
} */

.fusion-column-inner-bg a span {
    background: #fff;
}


/* .fusion-section-separator svg {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    transform: scale(1,4);
} */

/* svg#bigTriangleCandy {
    transform: scale(1,3.5);
}
svg#bigTriangleCandy path {
    d: path("M 50 100 L 77 0 L 104 100 Z")
} */


/* .about-slant-top svg.slantCandy {
    transform: scale(1.1,1);
} */




/*
.about-slant-top svg.slantCandy {
    z-index: -999;
    transform: scale(3.1);
    /* margin-bottom: -183px;
} */

/* .about-slant-top svg.slantCandy path {
    d: path("M 0 75 L 0 -1 L 100 0 Z");
} */


/* @media screen and (min-width: 481px)  {


  #secondary {
      box-sizing: border-box;
  }

  .widget-area {
    float: right;
    width: 24%;
  }

  .site-content {
      float: left;
      width: 76% !important;
      box-sizing: border-box;
      overflow: hidden;
      min-height: 700px;
  }


} */



.fusion-header-has-flyout-menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center-unit {
    display: flex;
    flex-grow: .9;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* line-height: 150px; */
    margin-top: 60px;
    margin-left: 50px;

}


/* .ld_categories {
    display: contents;
    align-items: center;
    flex-grow: 1;
    padding-right: 30px;
} */

.stm_lms_courses_search {
    position: relative;
    flex-grow: 1;
}
.stm_header_links {
    margin-left: 150px;
}

.right-unit {
    display: contents;
    align-items: center;
}


.stm_courses_search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* padding-right: 30px; */
}

.stm_courses_search {
    position: relative;
}


.ld_categories {
      margin: 0 12px 0 0;
      text-transform: uppercase;
      font-size: 16px;
      color: #3e4293;
      /* margin-top: 30px; */
      /* margin-right: 20px; */
      /* margin-left: 50px; */
}


.ld_categories i {
    position: relative;
    top: 0;
    font-size: 16px;
    color: #3e4293;
}

/* .ld_categories_dropdown {

    display: none;
}

.ld_categories_dropdown::hover {
    display: block;
} */


.ld_categories {
    cursor: pointer;
}


.ld_categories_dropdown{
  position: absolute;
  left: 0;
  right: 30px;
  top: 100%;
  margin-top: 0px;
  cursor: default;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
  z-index: 999;
}


.ld_categories:hover .ld_categories_dropdown {
    opacity: 1;
    visibility: visible;
    /* line-height: 40px; */
}

.ld_categories_dropdown::before{
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    height: 40px;
    display: block;
}

.ld_categories_dropdown__parents{
  max-width: 230px;
  background-color: #fff;
  box-shadow: 0 18px 103px rgba(0,0,0,.05);
}



.ld_categories_dropdown__parent a{
  display: block;
  padding: 9px 15px;
  text-transform: uppercase;
  font-size: 13px;
  color: #273044;
}


.ld_categories_dropdown__childs{
    position: absolute;
    top: 0;
    left: 230px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 10px;
    background-color: #f0f4fa;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}


.ld_categories_dropdown__childs {
    min-width: 415px;
}

.ld_categories_dropdown__child {
    width: 45%;
}

.ld_categories_dropdown__child a {
    font-size: 15px;
    line-height: 18px;
    text-transform: none;
    font-weight: 300;
}


.ld_categories_dropdown__parent:hover .ld_categories_dropdown__childs {
    opacity: 1;
    visibility: visible;
}

/* .ld_categories_dropdown__parent:hover .ld_categories_dropdown__childs {
    opacity: 1;
    visibility: visible;
} */



[class^="stmlms-"], [class*=" stmlms-"] {
    font-family: 'stmlms' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fusion-search-form-classic .searchform .fusion-search-form-content .fusion-search-field input.s {
    height: 45px;
}

.searchform .fusion-search-form-content .fusion-search-button input.fusion-search-submit.searchsubmit {
    height: 50px;
    width: 50px;
    line-height: 50px;
    margin-top: 30px;
    margin-right: 50px;
}

.searchform {
    top: -15px;
}


/* LOGIN MENU SEARCH */

.stm_header_top_search, .stm_header_top_toggler {
    display: none;
}

.stm_lms_search_popup.active {
    display: block;
}
.stm_lms_search_popup__close {
    position: absolute;
    top: 50px;
    left: -44px;
    width: 40px;
    height: 40px;
    border: 2px solid #f00;
    border-radius: 50%;
    color: #f00;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
}

.stm_lms_search_popup .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.stm_lms_search_popup .inner h2 {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.stm_lms_search_popup .inner .header_top {
    flex-wrap: wrap;
}

.header_2 .header_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stm_lms_search_popup .inner .header_top .stm_courses_search {
    width: 100%;
    flex-wrap: wrap;
    padding: 0!important;
    margin: 0!important;
    background-color: transparent!important;
}
.header_2 .header_top .stm_courses_search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 30px;
}
.stm_lms_search_popup {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    background-color: #eef1f7;
    max-width: 85%;
    display: none;
    z-index: 999999999;
}


.stm_lms_search_popup .inner .header_top .ld_categories {
    width: 100%;
    margin: 15px 0 0;
}

.header_2 .header_top .ld_categories {
    margin: 0 12px 0 0;
    text-transform: uppercase;
    font-size: 13px;
}
.ld_categories {
    cursor: pointer;
}

.header_top .ld_categories i {
    position: relative;
    top: 0;
    font-size: 10px;
    color: #777;
}

.stm_lms_search_popup .inner .header_top .ld_categories_dropdown {
    position: static;
    visibility: visible;
    opacity: 1;
}

.stm_lms_search_popup .inner .header_top .ld_categories {
    width: 100%;
    margin: 15px 0 0;
}

.ld_categories {
    cursor: pointer;
}

.ld_categories_dropdown {
    position: absolute;
    left: 0;
    right: 30px;
    top: 100%;
    margin-top: 20px;
    cursor: default;
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}

.ld_categories_dropdown {
    z-index: 999;
}


.stm_lms_search_popup .inner .header_top .ld_categories_dropdown__parents {
    background-color: transparent;
    max-width: 100%;
    box-shadow: none;
}

.stm_lms_search_popup .inner .header_top .ld_categories_dropdown__parent {
    position: relative;
}

.stm_lms_search_popup .inner .header_top .ld_categories_dropdown__parent a {
    padding: 15px;
    background-color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 2px;
}

.ld_categories_dropdown__parent a {
    display: block;
    padding: 9px 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #273044;
}

.stm_lms_search_popup .inner .header_top .ld_categories_dropdown__childs {
    position: static;
    display: none;
    padding: 0;
    visibility: visible;
    background-color: transparent;
    opacity: 1;
    transition: 0s;
}



/* LOGIN MENU ACCOUNT */
.stm_lms_account_popup.active {
    display: block;
}

.stm_lms_account_popup {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 350px;
    background-color: #eef1f7;
    max-width: 85%;
    display: none;
    z-index: 999999999;
}

.stm_lms_account_popup__close {
    position: absolute;
    top: 50px;
    left: -44px;
    width: 40px;
    height: 40px;
    border: 2px solid #f00;
    border-radius: 50%;
    color: #f00;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
}
.lnr-cross:before {
    content: "\e870";
}

.stm_header_top_toggler i.far.fa-user {
    margin-left: -5px;
}

.stm_lms_account_popup .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    overflow-y: scroll;
}

.stm_lms_account_popup__user {
    display: flex;
    margin: 0 0 50px;
}
.stm_lms_account_popup__user img {
    width: 50px;
    height: 50px !important;
    border-radius: 50% !important;
    margin-right: 16px;
    margin-top: 30px;
}
.stm_lms_account_popup__user_info h4 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
}

.stm_lms_account_popup__list_single {
    display: block;
    padding: 18px 30px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #fff;
    margin-bottom: 2px;
    color: #273044;
}

/* .fusion-secondary-header .fusion-alignleft{
  display: none ;
} */

@media screen and (max-width: 916px)  {

  .fusion-secondary-header {
    border-bottom-color: #d6d6d6 !important;
  }
  .fusion-page-title-captions {
      margin-top: auto;
  }

  .fusion-secondary-menu > ul > li > a{
    color: #000
  }
  .center-unit {
    display: none;
  }
  .right-unit {
    display: none;
  }

  .fusion-header-has-flyout-menu .fusion-flyout-menu-icons {
      margin-left: 0 !important;

  }
  .fusion-header-has-flyout-menu .fusion-flyout-menu-icons {
      font-size: 20px;
      margin-left: 0 !important;
      margin: 0 -22.5px;
  }

  .fusion-mobile-menu-design-flyout .fusion-secondary-header .fusion-alignright {
    display: none;
  }

  .fusion-secondary-header a, .fusion-secondary-header a:hover {
    color: #a9a9a9!important;
    float: right;
  }

  .sbc{
    background-color: #8ac041;
  }
  .mbc{
    background-color: #1b437b;
  }

  .stm_header_top_search {
    margin-left: auto;
    margin-right: 15px;
  }
  .stm_header_top_search, .stm_header_top_toggler {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  .stm_header_top_toggler {
    text-indent: 3px;
  }


  .lnr {
    font-family: 'Font Awesome 5 Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .lnr {
    font-family: 'Font Awesome 5 Free' !important;
    font-weight: 300 !important;
  }
  .lnr-magnifier:before {
    content: "\e86f";
  }
  .lnr-user:before {
    content: "\e82a";
  }


  .header_2 .header_top {
      position: relative;
  }

  .header_2 .header_top .stm_courses_search {
    padding-right: 0;
  }

  .fusion-search-form-classic .searchform .fusion-search-form-content .fusion-search-field input.s {
      height: 55px;
      width: 240px !important;
    }
}


@media screen and (max-width: 992px)  {

  .fusion-mobile-menu-icons a {

      margin-top: -69px;
  }
}



@media screen and (max-width: 992px)  {
  .header_top .ld_categories i.fas.fa-bars {
    display: none;
  }


}

@media screen and (max-width: 1050px)  {

  .center-unit{
        margin-top: 25px;
  }
  .fusion-mobile-menu-icons {
    margin-top: 35px;
  }

}


@media screen and (max-width: 1156px)  {

  .ld_categories .heading_font {
    display: none;
  }
  .center-unit{
    margin-left: 0px;
  }

}



@media screen and (max-width: 1400px)  {
  .header_top .ld_categories  span {
      display: none;
  }
  .stm_header_links{
    display: none;
  }

}

/* #secondary {
    border-left: none!important;
}

.site-content, .widget-area {
    margin: 0;
}


.widget-area {
    float: right !important;
    width: 24% !important;
}

 .course-header {
    background-color: #00a6dc !important;
}

.is-mobile.single-item.groups .page-right-sidebar, #primary {
    background-color: #e3e9f0;
}
.archive.post-type-archive-bp_doc.bp-docs.bp-docs-create #secondary, .single-bp_doc.bp-docs #secondary, #secondary {
    background-color: #cdd7e2;
}


.learndash_topic_dots.type-list ul li {
    padding: 15px 30px 15px 76px;
    position: relative;
    margin: 0;
}

.table-cell.progress {
    background-color: inherit !important;
    float: none !important;
    width: auto !important;
    height: auto !important;
    font-size: inherit!important;
    line-height: inherit !important;
    color: #fff !important;
    text-align: inherit !important;
    box-shadow:  none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
} */

/* SLIDER STYLE */
ul.home-slider-bar.nav.nav-tabs {
    display: flex;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 54px;
    background-color: #4168B1;
}

li.nav-item.home-slider-tab {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

li.nav-item.home-slider-tab:hover {
    background-color: #E95552;
}

li.nav-item.home-slider-tab.active {
    background-color: #ea5552;
    font-weight: bold;
}

li.nav-item.home-slider-tab.active::after {
    position: absolute;
    margin-top: 38px;
    content: '';
    border-top: solid 25px #ea5552;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
    z-index: 2;
    background: transparent;
}

li a.home-slider-link.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F5FA;
    height: 100%;
    width: 100%;
}

li a.home-slider-link.nav-link p.aligncenter {
    margin: 0;
}

.tab-pane.home-slider-content {
    display: none;
}

.tab-pane.home-slider-content.active {
    display: flex !important;
    flex-direction: column;
    position: relative;
}

.row.home-slider-content-footer {
    display: flex;
    align-items: center;
    background-color: rgba(70, 83, 94, 0.75);
    color: #F2F5FA;
    padding: 20px;
    font-size: 25px;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.home-slider-content-media {
    max-height: 877px;
    object-fit: fill;
}

.home-slider-content-footer-desc {
    line-height: 1.3;
}

.home-slider-content-footer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.0;
    font-weight: bold;
}

a.btn.home-slider-content-footer-btn {
    margin: 0 5px;
    background-color: #d1dce6;
    color: #46535E;
    border-radius: 10px;
}

@media screen and (max-width: 781px)
{
    ul.home-slider-bar.nav.nav-tabs {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    li.nav-item.home-slider-tab {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        height: 51px;
    }

    li.nav-item.home-slider-tab.active::after {
        position: absolute;
        margin-top: 36px;
        content: '';
        border-top: solid 25px #ea5552;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
        z-index: 2;
        /* background: transparent; */
    }
}

@media screen and (max-width: 1180px) {

    .row.home-slider-content-footer {
        position: static;
        background-color: rgba(70, 83, 94, 1.0);
        max-height: 100%;
    }
}

@media screen and (max-width: 1146px) {

    .home-slider-content-footer-btns {
        flex-direction: column;
        margin-top: 0;
    }

    .home-slider-content-footer-desc {
        font-size: 22px;
    }

    a.btn.home-slider-content-footer-btn {
        margin: 10px 0;
    }
}

@media screen and (max-width: 781px) {

    .row.home-slider-content-footer {
        position: static;
        flex-direction: column;
        background-color: rgba(70, 83, 94, 1.0);
        max-height: 100%;
    }

    .home-slider-content-footer-desc {
        font-size: 16px;
    }

    .home-slider-content-footer-btns {
        margin-top: 30px;
    }

    a.btn.home-slider-content-footer-btn {
        margin: 10px 0;
        width: 100%;
    }
}
